h1,
h2,
h3 {
  font-family: "Bangers", cursive;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box; /* 1 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5em;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
